################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp2/debug
/ConsoleApp2/bin
/ConsoleApp2/obj